<script>
	$(function() {
		// Clear the content of the input once the modal is dismissed.
		$('#add_edit_modal').on('hidden.bs.modal', function (event) {
			$('#item_name').val('');
		});

		// Give the text input focus when the modal opens.
		$('#add_edit_modal').on('shown.bs.modal', function (event) {
			$('#item_name').focus();
		});

		$('#add_edit_item_form').on('submit', function(e) {
			e.preventDefault();

			var value = $('#item_name').val();

			// Add the list item to the list.
			$('#item_list').append('<li class="list-group-item" data-val="' + value + '">' + value + '</li>');

			// Hide the modal.
			$('#add_edit_modal').modal('hide');

			return false;
		});
	});
</script>
<div class="modal fade" id="add_edit_modal" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form id="add_edit_item_form">
			<div class="modal-content">
				<div class="modal-header">
					<h4>Add/Edit List Item</h4>
				</div>
				<div class="modal-body">
					<input type="text" name="item_name" id="item_name" class="form-control" required>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>